<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Menu Toggle</title>
  <style>
    .item-list { display: none; }
    .show-list { display: block; }
  </style>
</head>
<body>
  <div class="main">
    <header>
      <div class="toggle"></div>
      <ul class="item-list">
        <li id="item-1"></li>
        <li id="item-2"></li>
        <li id="item-3"></li>
        <li id="item-4"></li>
      </ul>
    </header>
  </div>
</body>
</html>